.card{
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* max-width: 600px; */
  width:160px;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  background: #7C6861;
  opacity: 0.65;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  margin:50px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .new{
    display: inline-block;
  }
